:root {
    background: #000500;
    color:white;
}

/*Profile picture*/
#profilePic {
    border-radius: 50%;
    border: green 5px solid;
    margin: 5%;
    flex-wrap: wrap;
}

.section-heading {
    margin-top: 3rem;
    margin-left: 3rem;
}

body {
    background: #000500;
    color:white;
}

.heading {
    margin-top: 2rem;
}

code {
    color: lightgray;
}

#about {

}

th {
    color:lightgray;
}
td {
    color:lightgray;
}

.contactLinks {
    list-style: none;
}

.contactLinks>li {
    display: inline-block;
    margin-right: 2rem;
}